@media (max-width: 1540px){
    /* BOOKING AREA */
    .booking-area{
        width: 85vw;
    }
    .banner-wrapper{
        height: 40rem;
    }
}

@media (max-width: 1199px){
    /* HEADER */
    .navbar-expand-lg .navbar-nav{
        align-items: center;        
    }
    .header-wrapper .navbar-nav .nav-link{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .main-btn{
        font-size: 1rem;
    }

    /* BOOKING AREA */
    .banner-wrapper{
        height: 35rem;
    }
    .booking-area{
        width: 95vw;
    }
    .booking-area .main-btn{
        padding-left: 0.3125rem !important;
        padding-right: 0.3125rem !important;
    }
    .booking-area .form-control{
        padding: 6px 6px;
    }

    /* ROOMS SECTION */
    .room-items .room-content{
        padding: 1rem 1.875rem;
    }
    .room-items .room-content h5{
        font-size: 1.2rem;
    }
    .room-items .room-content p{
        font-size: 0.75rem;
    }

    /* SERVICE SECTION */
    .service-item-wrap .tab-content img{
        display: block !important;
        width: 100% !important;
        height: 100% !important;
    }
    .service-menu-area ul li a{
        margin-bottom: 0.8125rem;
        overflow: hidden;
    }
    .service-menu-area ul li:nth-child(1){
        margin-top: 0.8125rem;
        margin-left: -4.4375rem;
    }
    .service-menu-area ul li:nth-child(2){
        margin-left: -6.9375rem;
    }
    .service-menu-area ul li:nth-child(3){
        margin-left: -9.375rem;
    }
    .service-menu-area ul li:nth-child(4){
        margin-left: -12.8125rem;
    } 
    .service-menu-area ul li a h5{
        margin-bottom: 0.375rem;
    }

    /* PRICE SECTION */
    .price-wrapper .card p{
        font-size: 0.9rem;
    }
}


@media (max-width: 991px){
    /* CUSTOM */
    section{
        padding: 1.875rem 0;
    }
    /* HEADER */
    .header-scrolled{
        height: auto;
    }
    .header-wrapper .menu-navbar-nav{
        text-align: center;
        padding-bottom: 0.93rem;
    }

    /* BOOKING AREA */
    .booking-area {
        position: relative;
        bottom: 1rem; /* adjust this value to control the amount of overlap */
        left: 0;
        transform: none;
        width: 100%;
    }
    .booking-area .form-select{
        background-position: right 0.5rem center; /* adjust the position of the arrow */
        padding-right: 0; /* add padding to prevent text overlap with the arrow */
    }

    /* ABOUT */
    .about-wrapper{
        padding-top: 20rem;  
    }

    /* ROOMS SECTION */
    .room-items .room-content{
        padding: 1rem 1.875rem;
    }
    .room-items .room-content h5{
        font-size: 1.5rem;
    }
    .room-items .room-content p{
        font-size: 1rem;
    }

    /* SERVICES SECTION */
    .services-wrapper{
        overflow: hidden;
    }
    .service-menu-area{
        padding: 1.5rem 0.5rem;
    }
    .service-menu-area ul li{
        margin-left: unset !important;
    }
    .service-item-wrap .tab-content img{
        clip-path: inset(0 28% 0 0);
        width: 100% !important;
        height: auto !important;
        position: relative;
        transform: scaleX(1.39);
        object-fit: cover;
        object-position: left;
        transform-origin: left;
    }

    /* PRICE SECTION */
    .price-wrapper .card p{
        font-size: 1rem;
    }
}

@media (max-width: 767px){
    /* CUSTOM CSS */
    h1{
        font-size: 1.875rem;
        line-height: 2.5rem;
    }
    h3{
        font-size: 1.75rem;
        line-height: 2.18rem;
    }
    h5{
        font-size: 1.25rem;
    }
    p{
        font-size: 0.81rem;
        line-height: 1.25rem;
    }
    /* HEADER */
    .header-wrapper .navbar{
        padding: 0.35rem 0;
    }

    /* BOOKING AREA */
    .banner-wrapper{
        height: 30rem;
    }
    .booking-area {
        width: 85%;
        bottom: -1.5rem; /* adjust this value to control the amount of overlap */
    }

    /* ROOMS SECTION */
    .room-items .room-content{
        padding: 1rem 1.875rem;
    }
    .room-items .room-content h5{
        font-size: 1.5rem;
    }
    .room-items .room-content p{
        font-size: 1rem;
    }

    /* FOOTER SECTION */
    .footer_wrapper>div {
        padding: 0 1.875rem;
    }
}