@media (max-width: 1540px){
    /* BOOKING AREA */
    .booking-area{
        width: 85vw;
    }
    .banner-wrapper{
        height: 40rem;
    }
}

@media (max-width: 1199px){
    /* HEADER */
    .navbar-expand-lg .navbar-nav{
        align-items: center;        
    }
    .header-wrapper .navbar-nav .nav-link{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .main-btn{
        font-size: 1rem;
    }

    /* BOOKING AREA */
    .banner-wrapper{
        height: 35rem;
    }
    .booking-area{
        width: 95vw;
    }
    .booking-area .main-btn{
        padding-left: 0.3125rem !important;
        padding-right: 0.3125rem !important;
    }
    .booking-area .form-control{
        padding: 6px 6px;
    }

    /* ROOMS SECTION */
    .room-items .room-content{
        padding: 1rem 1.875rem;
    }
    .room-items .room-content h5{
        font-size: 1.2rem;
    }
    .room-items .room-content p{
        font-size: 0.75rem;
    }
}


@media (max-width: 991px){
    /* CUSTOM */
    section{
        padding: 1.875rem 0;
    }
    /* HEADER */
    .header-scrolled{
        height: auto;
    }
    .header-wrapper .menu-navbar-nav{
        text-align: center;
        padding-bottom: 0.93rem;
    }

    /* BOOKING AREA */
    .booking-area {
        position: relative;
        bottom: 1rem; /* adjust this value to control the amount of overlap */
        left: 0;
        transform: none;
        width: 100%;
    }
    .booking-area .form-select{
        background-position: right 0.5rem center; /* adjust the position of the arrow */
        padding-right: 0; /* add padding to prevent text overlap with the arrow */
    }

    /* ABOUT */
    .about-wrapper{
        padding-top: 20rem;
  
    }

    /* ROOMS SECTION */
    .room-items .room-content{
        padding: 1rem 1.875rem;
    }
    .room-items .room-content h5{
        font-size: 1.5rem;
    }
    .room-items .room-content p{
        font-size: 1rem;
    }
}

@media (max-width: 767px){
    /* CUSTOM CSS */
    h1{
        font-size: 1.875rem;
        line-height: 2.5rem;
    }
    h3{
        font-size: 1.75rem;
        line-height: 2.18rem;
    }
    h5{
        font-size: 1.25rem;
    }
    p{
        font-size: 0.81rem;
        line-height: 1.25rem;
    }
    /* HEADER */
    .header-wrapper .navbar{
        padding: 0.35rem 0;
    }

    /* BOOKING AREA */
    .banner-wrapper{
        height: 30rem;
    }
    .booking-area {
        width: 85%;
        bottom: -1.5rem; /* adjust this value to control the amount of overlap */
    }

    /* ROOMS SECTION */
    .room-items .room-content{
        padding: 1rem 1.875rem;
    }
    .room-items .room-content h5{
        font-size: 1.5rem;
    }
    .room-items .room-content p{
        font-size: 1rem;
    }
}