/* General */
@import url('https://fonts.googleapis.com/css?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* Background Color */
    --primary-color: #021832;
    /* --secondary-color: #E77D00; */
    --secondary-color: #caa169;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;

    /* Text Style */
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    --primary-text: #021832;
    /* --secondary-text: #caa169; */
    --secondary-text: var(--secondary-color);    
    --text-white: #fff;
    --text-black: #151515;
    --text-gray: #e4e4e4;
}

body{
    font-family: var(--primary-font);
    background-color: var(--bg-white);
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 0.375rem;
}

::-webkit-scrollbar-track{
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

section{
    padding: 3.125rem 0;
}

.main-btn{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: 0.0625rem solid var(--primary-color);
    padding: 0.375rem 1.875rem;
    border-radius: 3.125rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
    white-space: nowrap;
}

.main-btn:hover{
    background-color: var(--primary-color);
    color: var(--bg-white);
}

h1{
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: var(--text-white);
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: var(--secondary-font);
}

h3{
    margin-bottom: 1.875rem;
    line-height: 2.875rem;
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}

h3 span{
    color: var(--secondary-color);
}

h5{
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 500;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}

h6{
    font-size: 0.875rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0.9375rem;
}

p{
    font-size: 1rem;
    color: var(--text-black);
    line-height: 1.625rem;
}

.section-title:after{
    content: "";
    background-image: url("../Images/title-icon.webp");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin-top: -0.9375rem;
    height: 0.9375rem;
}



/* Header */
.header-wrapper .navbar{
    padding: 0.5rem 0;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
    box-shadow: 0 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
    -webkit-transition: background 0s ease-in-out 0s,margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    transition: background 0s ease-in-out 0s,margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    -moz-transition: background 0s ease-in-out 0s,margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    -ms-transition: background 0s ease-in-out 0s,margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    -o-transition: background 0s ease-in-out 0s,margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
}
/* #logo{
    width: 8rem;
    height: auto;
} */
.header-wrapper .navbar-toggler{
    border: 0;
    color: var(--primary-color);
    line-height: 2;
}
.header-wrapper .navbar-toggler:focus{
    box-shadow: none;
}
.header-wrapper .nav-item{
    margin: 0 0.7rem;
}
.header-wrapper .navbar-nav .nav-link{  
    font-size: 1.19rem;
    font-weight: 500;
    color: var(--primary-text);
    display: inline-block;
}
.header-wrapper .navbar-nav .nav-link:hover,
.header-wrapper .navbar-nav .nav-link.active{
    color: var(--secondary-color);
}
.navbar .header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    animation:500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-animation:500ms ease-in-out 0s normal none 1 running fadeInDown;
}
@keyframes fadeInDown{
    0%{
        top: -30%;
    }
    50%{
        top: -15%;
    }
    100%{
        top: 0;
    }
}



/* BANNER */
.banner-wrapper {
    height: 45rem;
}
.banner-wrapper .swiper{
    width: 100%;
    height: 100%;
}
.banner-wrapper .swiper-slide{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}
.banner-wrapper .swiper-slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: 0.4;
    z-index: 0;
}
.banner-wrapper .swiper-pagination-bullets .swiper-pagination-bullet{
    width: 1rem;
    height: 1rem;
    background-color: var(--secondary-color);
    border: 0.19rem solid var(--bg-white);
}
.banner-wrapper .swiper .slide-caption{
    height: 100%;
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-wrapper .swiper .slide-caption h1{
    letter-spacing: 0.25rem;
    padding-bottom: 0.5rem;
}
.banner-wrapper .swiper .slide-caption p{
    max-width: 40rem;
    margin: 0 auto;
    color: var(--bg-white);
    text-align: center;
}
.booking-area{
    /* background-color: var(--bg-white); */
    box-shadow: 0 0.625rem  0.9375rem 0 rgba(0 0 0 / 10%) ;
    margin-top: -5rem;
    padding: 0.7rem 0;
    position: relative;
    z-index: 99;
    width: 70vw;
}
.booking-area .row{
    margin: 0;
    padding: 0 0.5rem;
    width: 100%;
}
.booking-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    z-index: -1;
}
.booking-area .field{
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking-area .form-control,
.booking-area .form-select{
    /* border: 0.0625rem solid var(--primary-color); */
    border: none;
    height: 2.5rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: var(--text-black);
    font-weight: 500;
    background: transparent;
}
.booking-area .form-select{
    /* width: 70%; */
    background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><path d='M7 10l5 5 5-5z' fill='black'/></svg>") no-repeat;
    /* background-position: right 7rem top 0.4rem; */
    background-position: right calc(100% - 5rem) top 0.4rem; /* adjust the position of the arrow */
    padding-right: 0; /* add padding to prevent text overlap with the arrow */
}
.booking-area .main-btn{
    margin-left: 1rem;
    background-color: none;
}
.booking-area .main-btn:hover{
    background-color: var(--primary-color);
}
.banner-wrapper {
    position: relative;
    /* other styles */
}
.booking-area {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    flex-wrap: nowrap;
}


/* ABOUT SECTION */ 
.about-wrapper{
    padding-top: 3rem;
}
.about-wrapper>div h3{
    letter-spacing: 0.1rem;
}


/* ROOM SECTION */
.rooms-wrapper .room-items{
    position: relative;
    overflow: hidden;
} 
.rooms-wrapper .room-items img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 400ms ease-in 0s;
    -webkit-transition: all 400ms ease-in 0s;
}
.rooms-wrapper .room-items:hover img{
    transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
}
.rooms-wrapper .room-items::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: 0;
    z-index: 1;
    transition: all 400ms ease-in 0s;
    -webkit-transition: all 400ms ease-in 0s;
}
.rooms-wrapper .room-items:hover::before{
    opacity: 0.6;
}
.rooms-wrapper .room-item-wrap{
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.rooms-wrapper .room-items .room-content{
    border: 0.125rem solid var(--bg-white);
    padding: 4rem 1.875rem;
    transform: scale3d(1.2 , 1.2,  1.2);
    -webkit-transform: scale3d(1.2 , 1.2,  1.2);
    transition: all 500ms ease-in 0s;
    -webkit-transition: all 500ms ease-in 0s;
    opacity: 0;
}
.rooms-wrapper .room-items:hover .room-content{
    opacity: 1;
    transform: scale3d(1 , 1,  1);
    -webkit-transform: scale3d(1 , 1,  1);
}


/* SERVICES SECTION*/
.service-item-wrap{
    background-color: var(--bg-color);
}
.service-menu-area ul li a{
    display: block;
    margin-bottom: 2.8125rem;
}
.service-menu-area ul li a .service-icon{
    height: 5.625rem;
    width: 5.625rem;
    line-height: 5.625rem;
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 100%;
    float: left;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.service-menu-area ul li a .service-icon:hover,
.service-menu-area ul li a.active .service-icon{
    background-color: var(--primary-color);
    color: var(--text-white);
    box-shadow: 0.125rem rgb(34 30 31 / 40%);
}
.service-menu-area ul li:nth-child(1){
    margin-left: 0.5625rem;
}
.service-menu-area ul li:nth-child(2){
    margin-left: -2.9375rem;
}
.service-menu-area ul li:nth-child(3){
    margin-left: -6.375rem;
}
.service-menu-area ul li:nth-child(4){
    margin-left: -8.8125rem;
}
.service-menu-area ul li a p,
.service-menu-area ul li a h5
{
    padding-left: 6.875rem;
    display: block;
    text-align: left;
}
.service-menu-area ul li a p span{
    color: var(--secondary-text);
}
.counter{
    background-image: url("../Images/counter-bg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.125rem;
    position: relative;
    margin-top: 5rem;
}
.counter::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: 0.5;
    z-index: 1;
}
.counter h1,
.counter p{
    position: relative;
    z-index: 3;
    color: var(--text-white);
}